@import "normalize.css";
@import "tailwindcss";
@plugin "tailwindcss-motion";
@plugin "@tailwindcss/typography";
@config "@/../tailwind.config.js";

/* Z-Index Guidelines
z-2: Virtual Textarea Overlay
z-20: Model Selects
z-30: Sidebar
z-40: Tooltips
z-99 - z-100: Popup
*/

/* Global Styles */
:root {
    font-family: Nebula Sans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-text-muted);
    background-color: var(--color-background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --transition-duration: 0.125s;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
}

body:not([data-native-scrollbar]) {
    scrollbar-color: var(--color-primary) var(--color-surface);
}

#app {
    width: 100svw;
    height: 100svh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

/* Themes */
@layer base {
    html[theme='light'] {
        --color-background-dark: oklch(0.85 0.065 266);
        --color-background: oklch(0.89 0.065 266);
        --color-background-light: oklch(0.93 0.065 266);
        --color-surface: oklch(0.97 0.065 266);
        --color-surface-light: oklch(1 0.065 266);
        --color-text: oklch(0.15 0.13 266);
        --color-text-muted: oklch(0.4 0.13 266);
        --color-highlight: oklch(0.5 0.13 266);
        --color-border: oklch(0.6 0.13 266);
        --color-border-muted: oklch(0.7 0.13 266);
        --color-primary: oklch(0.4 0.13 266);
        --color-secondary: oklch(0.4 0.13 86);
        --color-danger: oklch(0.5 0.13 30);
        --color-warning: oklch(0.5 0.13 100);
        --color-success: oklch(0.5 0.13 160);
        --color-info: oklch(0.5 0.13 260);
    }

    html[theme='mono-dark'] {
        --color-background-dark: oklch(0.1 0.005 266);
        --color-background: oklch(0.15 0.005 266);
        --color-background-light: oklch(0.2 0.005 266);
        --color-surface: oklch(0.23 0.005 266);
        --color-surface-light: oklch(0.26 0.005 266);
        --color-text: oklch(0.96 0.01 266);
        --color-text-muted: oklch(0.76 0.01 266);
        --color-highlight: oklch(0.5 0.01 266);
        --color-border: oklch(0.4 0.01 266);
        --color-border-muted: oklch(0.3 0.01 266);
        --color-primary: oklch(0.76 0.1 266);
        --color-secondary: oklch(0.76 0.1 86);
        --color-danger: oklch(0.7 0.05 30);
        --color-warning: oklch(0.7 0.05 100);
        --color-success: oklch(0.7 0.05 160);
        --color-info: oklch(0.7 0.05 260);
    }

    html[theme='mono-light'] {
        --color-background-dark: oklch(0.85 0.005 266);
        --color-background: oklch(0.89 0.005 266);
        --color-background-light: oklch(0.93 0.005 266);
        --color-surface: oklch(0.97 0.005 266);
        --color-surface-light: oklch(1 0.005 266);
        --color-text: oklch(0.15 0.01 266);
        --color-text-muted: oklch(0.4 0.01 266);
        --color-highlight: oklch(0.5 0.01 266);
        --color-border: oklch(0.6 0.01 266);
        --color-border-muted: oklch(0.7 0.01 266);
        --color-primary: oklch(0.4 0.1 266);
        --color-secondary: oklch(0.4 0.1 86);
        --color-danger: oklch(0.5 0.05 30);
        --color-warning: oklch(0.5 0.05 100);
        --color-success: oklch(0.5 0.05 160);
        --color-info: oklch(0.5 0.05 260);
    }

    html[theme='amoled'] {
        --color-background-dark: oklch(0 0.005 266);
        --color-background: oklch(0.1 0.005 266);
        --color-background-light: oklch(0.15 0.005 266);
        --color-surface: oklch(0.2 0.005 266);
        --color-surface-light: oklch(0.23 0.005 266);
        --color-text: oklch(0.96 0.01 266);
        --color-text-muted: oklch(0.76 0.01 266);
        --color-highlight: oklch(0.5 0.01 266);
        --color-border: oklch(0.4 0.01 266);
        --color-border-muted: oklch(0.3 0.01 266);
        --color-primary: oklch(0.76 0.1 266);
        --color-secondary: oklch(0.76 0.1 86);
        --color-danger: oklch(0.7 0.05 30);
        --color-warning: oklch(0.7 0.05 100);
        --color-success: oklch(0.7 0.05 160);
        --color-info: oklch(0.7 0.05 260);
    }
}

@theme {
    --color-background-dark: oklch(0.1 0.065 266);
    --color-background: oklch(0.15 0.065 266);
    --color-background-light: oklch(0.2 0.065 266);

    --color-surface: oklch(0.23 0.065 266);
    --color-surface-light: oklch(0.26 0.065 266);

    --color-text: oklch(0.96 0.1 266);
    --color-text-muted: oklch(0.76 0.1 266);

    --color-highlight: oklch(0.5 0.13 266);
    --color-border: oklch(0.4 0.13 266);
    --color-border-muted: oklch(0.3 0.13 266);

    --color-primary: oklch(0.76 0.13 266);
    --color-secondary: oklch(0.76 0.13 86);

    --color-danger: oklch(0.7 0.13 30);
    --color-warning: oklch(0.7 0.13 100);
    --color-success: oklch(0.7 0.13 160);
    --color-info: oklch(0.7 0.13 260);

    --animate-breathe: breathe 2s ease-in-out infinite;
    --animate-blink: blink 1s ease-in-out infinite;

    /* base */
    --shadow-elevation-1: 
        0 0.25rem 1.25rem rgba(0, 0, 0, 0.05), 
        0 0 0 0.5px oklch(from var(--color-highlight) l c h / 0.15);
        
    /* hovered items */
    --shadow-elevation-2: 
        0 0.25rem 1.25rem rgba(0, 0, 0, 0.05), 
        0 0 0 0.5px oklch(from var(--color-highlight) l c h / 0.3);

    /* focused items */
    --shadow-elevation-3: 
        0 0.25rem 1.25rem rgba(0, 0, 0, 0.1), 
        0 0 0 0.5px oklch(from var(--color-highlight) l c h / 0.3);

    /* popup menus */
    --shadow-elevation-4: 
        0 0.25rem 1.25rem rgba(0, 0, 0, 0.2), 
        0 0 0 0.5px oklch(from var(--color-highlight) l c h / 0.7);

    /* large popups */
    --shadow-elevation-5: 
        0 0.25rem 1.25rem rgba(0, 0, 0, 0.3), 
        0 0 0 0.75px oklch(from var(--color-highlight) l c h / 0.9);

    @keyframes breathe {
        0%,
        100% {
            transform: scale(0.85);
        }

        50% {
            transform: scale(1);
        }
    }
    
    @keyframes blink {
        0%,
        100% {
            opacity: 80%;
        }

        50% {
            opacity: 40%;
        }
    }
}

/* Utilities */
@utility duration-dynamic {
    transition-duration: var(--transition-duration);
}

@utility transition-quick {
    @apply transition-all duration-dynamic hover:duration-0;
}

@utility btn-primary {
    @apply bg-primary hover:bg-secondary text-background-light rounded-lg transition-colors duration-dynamic cursor-pointer;
}

@utility btn-ghost {
    @apply bg-surface group-[.active]:bg-surface-light hover:bg-surface-light group-[.active]:text-text p-2 rounded-md cursor-pointer;
}

@utility tools-input {
    @apply bg-surface-light rounded-md focus:ring-1 ring-highlight ring-inset outline-none
}


/* Custom slider styling */
.slider::-webkit-slider-thumb {
    @apply w-5 h-5 bg-primary ring-2 ring-inset ring-text rounded-full border-0 shadow-md transition-all;
    transition-duration: var(--transition-duration);
    -webkit-appearance: none;
    margin-top: -6px; /* center thumb */
}

.slider::-moz-range-thumb {
    @apply w-5 h-5 bg-primary ring-2 ring-inset ring-text rounded-full border-0 shadow-md transition-all;
    transition-duration: var(--transition-duration);
}

.slider::-webkit-slider-runnable-track {
    @apply h-1.5 bg-border rounded-lg;
}

.slider::-moz-range-track {
    @apply h-1.5 bg-border rounded-lg;
}

.slider:hover::-webkit-slider-runnable-track,
.slider:hover::-moz-range-track {
    @apply bg-border;
    transition-duration: var(--transition-duration);
}

.slider:hover::-webkit-slider-thumb,
.slider:hover::-moz-range-thumb {
    @apply bg-text-muted;
}

progress::-webkit-progress-value,
progress::-moz-progress-bar {
    @apply bg-secondary;
}

/* HLJS */
.hljs {
    @apply mb-4 rounded-lg;
}