@import "normalize.css";
@import "tailwindcss";
@plugin "tailwindcss-motion";
@plugin "@tailwindcss/typography";
@config "@/../tailwind.config.js";

@theme {
    --color-primary-50: hsl(218, 57%, 55%);
    --color-primary-100: hsl(218, 58%, 48%);
    --color-primary-200: hsl(218, 57%, 37%);
    --color-primary-300: hsl(218, 57%, 24%);
    --color-primary-400: hsl(218, 57%, 15%);
    --color-primary-500: hsl(218, 57%, 10%);
    --color-primary-600: hsl(220, 60%, 5%);
    --color-primary-700: hsl(0, 0%, 0%);

    --color-txt-1: hsl(0, 0%, 94%);
    --color-txt-2: hsl(226, 23%, 82%);

    --animate-breathe: breathe 2s ease-in-out infinite;

    @keyframes breathe {

        0%,
        100% {
            transform: scale(0.85);
        }

        50% {
            transform: scale(1);
        }
    }
}

.hljs {
    @apply mb-4 rounded-lg border border-txt-1/50;
}

html {
    scroll-behavior: smooth;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-txt-1);
    background-color: var(--color-primary-400);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --transition-duration: 0.125s;
}

/* Z-Index Guidelines
z-2: Virtual Textarea Overlay
z-20: Model Selects
z-30: Sidebar
z-40: Tooltips
z-99 - z-100: Popup

*/

#app {
    width: 100svw;
    height: 100svh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

/* Transitions */

/* @media all { */
@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
    }
}

body[data-reduce-motion] {
    * {
        transition: none !important;
    }
}

.page-switch-enter-active,
.page-switch-leave-active {
    transition: opacity var(--transition-duration) ease, transform var(--transition-duration) ease, filter var(--transition-duration) ease;
    z-index: -100;
}

.page-switch-enter-from,
.page-switch-leave-to {
    transform: translateY(50%) scale(0.75);
    opacity: 0;
    filter: blur(0.25rem);
}


.slide-left-enter-active,
.slide-left-leave-active {
    transition: transform var(--transition-duration) ease;
}

.slide-left-enter-from,
.slide-left-leave-to {
    transform: translateX(-115%);
}