:root {
    --bg-1: #f5e6e8;
    --bg-2: #d5c6e0;
    --bg-3: #aaa1c8;
    --bg-4: #967aa1;
    --bg-accent: #192a51;

    --txt-1: #030408;
    --txt-accent: #fcf8f8;


    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--txt-1);
    background-color: var(--bg-1);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/* End of CSS reset */

#app {
    width: 100vw;
    height: 100vh;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-1: #030408;
        --bg-2: hsl(275, 30%, 17%);
        --bg-3: hsl(254, 26%, 29%);
        --bg-4: hsl(283, 17%, 45%);
        --bg-accent: #fcf8f8;

        --txt-1: #f5e6e8;
        --txt-accent: #192a51;
    }
}